[Oo]bj
[Bb]in
*.user
*.suo
*.bak
*.log
[Tt]humbs.db
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
!/packages/*/lib/*.dll
!*CommonReferences/*.dll
TestResults/
*.Publish.xml
*.txt
*.md
!README.md
!nuget.exe
packages/*/